<div
  fxLayout="column"
  fxLayoutAlign="space-around center"
  fxLayout.gt-xs="row"
  fxLayoutAlign.gt-xs="space-evenly center"
>
  <snap-computer-deck></snap-computer-deck>
  <ui-card-pile [cards]="cards"></ui-card-pile>
  <snap-player-deck></snap-player-deck>
</div>

<div
  fxLayout="column"
  fxLayoutAlign="space-around center"
  class="control-container"
>
  <button mat-raised-button color="primary">Start</button>
  <mat-slider min="1" max="100" step="1" value="1" color="primary"></mat-slider>
</div>
