@import '~@angular/flex-layout/mq';

.control-container {
  margin-top: 20px;

  mat-slider {
    width: 300px;
  }

  button {
    width: 100px;
    @include layout-bp(gt-xs) {
      width: 150px;
    }
  }
}
